<%= form_for(@bank_transaction) do |f| %>
  <% if @bank_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_transaction.errors.count, "error") %> prohibited this bank_transaction from being saved:</h2>

      <ul>
      <% @bank_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reported_date %><br>
    <%= f.text_field :reported_date %>
  </div>
  <div class="field">
    <%= f.label :reported_amount %><br>
    <%= f.text_field :reported_amount %>
  </div>
  <div class="field">
    <%= f.label :reported_description %><br>
    <%= f.text_field :reported_description %>
  </div>
  <div class="field">
    <%= f.label :is_complete %><br>
    <%= f.check_box :is_complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
