<%- model_class = BankTransaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:reported_date) %>:</strong></dt>
  <dd><%= @bank_transaction.reported_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reported_amount) %>:</strong></dt>
  <dd><%= @bank_transaction.reported_amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reported_description) %>:</strong></dt>
  <dd><%= @bank_transaction.reported_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_complete) %>:</strong></dt>
  <dd><%= @bank_transaction.is_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:card_id) %>:</strong></dt>
  <dd><%= @bank_transaction.card_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bank_transactions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bank_transaction_path(@bank_transaction), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bank_transaction_path(@bank_transaction),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
