<%- model_class = Card -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:last_four_digits) %></th>
      <th>Total # Transactions</th>
      <th>Total Charges</th>
      <th><%= model_class.human_attribute_name(:owner) %></th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.id, card_path(card) %></td>
        <td><%= card.last_four_digits %></td>
        <td><%= card.trxn_count %></td>
        <td><%= number_to_currency(card.trxn_total) %></td>
        <td><%= card.owner %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_card_path,
            :class => 'btn btn-primary' %>
